@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@utility hero {
    @apply flex flex-col place-content-center place-items-center gap-6 min-h-full w-full relative
}


@layer base {
    body {
        @apply bg-zinc-900 text-white flex flex-col h-dvh;
    }

    header {
        @apply z-100 flex flex-row py-10 px-7 fixed w-full top-0 transition-colors;
    }

    header a {
        @apply text-2xl
    }

    section {
        @apply p-20
    }

    h1 {
        @apply text-5xl font-bold font-["Montserrat"] tracking-wider
    }

    h2 {
        @apply text-4xl
    }

    .hero img {
        @apply absolute -z-10 brightness-50 h-full w-full
    }

    #logo {
        @apply font-["Montserrat"] font-bold tracking-wider text-3xl;
    }

    a:not(#logo) {
        @apply transition-colors hover:text-blue-300 hover:underline
    }

    a button {
        @apply text-2xl transition-colors p-2 px-4 hover:cursor-pointer bg-blue-400 hover:bg-blue-500 text-white
    }

}